<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xskq.mybatis.MajorMapper">
  <resultMap id="BaseResultMap" type="com.xskq.model.Major">
    <id column="majorid" jdbcType="INTEGER" property="majorid" />
    <result column="majorname" jdbcType="VARCHAR" property="majorname" />
  </resultMap>
  <sql id="Base_Column_List">
    majorid, majorname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from major
    where majorid = #{majorid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from major
    where majorid = #{majorid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xskq.model.Major">
    insert into major (majorid, majorname)
    values (#{majorid,jdbcType=INTEGER}, #{majorname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xskq.model.Major">
    insert into major
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="majorid != null">
        majorid,
      </if>
      <if test="majorname != null">
        majorname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="majorid != null">
        #{majorid,jdbcType=INTEGER},
      </if>
      <if test="majorname != null">
        #{majorname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xskq.model.Major">
    update major
    <set>
      <if test="majorname != null">
        majorname = #{majorname,jdbcType=VARCHAR},
      </if>
    </set>
    where majorid = #{majorid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xskq.model.Major">
    update major
    set majorname = #{majorname,jdbcType=VARCHAR}
    where majorid = #{majorid,jdbcType=INTEGER}
  </update>
</mapper>